<script src="/public/js/profile.js"></script>

<div class="mt-24">
    <div class="flex flex-col text-center space-y-2">
        <div class="flex flex-col items-center">
                {{#if profilePicture}}      
                    <img src=/uploads/{{profilePicture}} class="profile-picture">
                {{/if}}
        </div>
        <p class="font-bold">{{{username}}}</p>
        <p>{{{bio}}}</p>
        <p data-id="follower-count">Follower Count: {{followerCount}}</p>
        <p data-id="following-count">Following Count: {{followingCount}}</p>
        {{#if isUser}}
            <div class="flex flex-col items-center">
                <div class="pt-2">
                    <a href="/users/editUser" class="profile-buttons">Edit Profile</a>
                    <a href="/logout" class="profile-buttons">Logout</a>
                    {{#if isAdmin}}
                    <a href="/admin">Admin Dashboard</a>
                    {{/if}}
                </div>
            </div>
        {{else}}
            <div class="flex flex-col items-center">
                <button class="follow-button" data-userid="{{userid}}" data-profileusername="{{username}}" >
                    {{#if isFollowing}}
                        Unfollow
                    {{else}}
                        Follow
                    {{/if}}
                </button>
            {{/if}}
            </div>
    </div>
    <div class="flex justify-center mt-4">
        <div class="grid grid-cols-3 gap-4 w-4/5">
            {{#each posts}}
                <div class="profile-post">
                    <img src="{{this.image}}" class="profile-postimg">
                    <p>{{this.description}}</p>
                    <a href="/posts/{{this._id}}" class="profile-buttons">View</a>
                </div>
            {{/each}}
        </div>
    </div>
    
</div>