<script src="/public/js/profile.js"></script>

<div class="mt-24">
    <div class="flex flex-col text-center space-y-2">
        <div class="flex flex-col items-center">
                {{#if profilePicture}}      
                    <img src=/uploads/{{profilePicture}} class="profile-picture">
                {{/if}}
        </div>
        <p class="font-bold">{{{username}}}</p>
        <p>{{{bio}}}</p>
        <p data-id="follower-count">Follower Count: {{followerCount}}</p>
        <p data-id="following-count">Following Count: {{followingCount}}</p>
        {{#if isUser}}
            <div class="flex flex-col items-center">
                <div class="pt-2">
                    <a href="/users/editUser" class="bg-icon200 transition hover:bg-icon500 hover:text-icon100 font-semibold rounded-md p-2">Edit Profile</a>
                    <a href="/logout" class="bg-icon200 transition hover:bg-icon500 hover:text-icon100 font-semibold rounded-md p-2">Logout</a>
                </div>
            </div>
        {{else}}
            <div class="flex flex-col items-center">
                <button class="follow-button" data-userid="{{userid}}" data-profileusername="{{username}}" >
                    {{#if isFollowing}}
                        Unfollow
                    {{else}}
                        Follow
                    {{/if}}
                </button>
            {{/if}}
            </div>
    </div>
    <div class="flex justify-center mt-4">
        <div class="grid grid-cols-3 gap-4 w-4/5">
            {{#each posts}}
                <a href="/posts/{{this._id}}">{{this.description}} </a>
            {{/each}}
        </div>
    </div>
    
</div>