<div class="flex justify-center mt-24">
    <div class="flex flex-col text-center space-y-2">
        <p class="font-bold">{{{username}}}</p>
        <p>{{{bio}}}</p>
        {{#if profilePicture}}
            <div class="flex justify-center">
                <img src={{profilePicture}} class="profile-picture">
            </div>
        {{/if}}
        {{#if isUser}}
            <div class="pt-2">
                <a href="/users/editUser" class="bg-icon200 transition hover:bg-icon500 hover:text-icon100 font-semibold rounded-md p-2">Edit Profile</a>
                <a href="/logout" class="bg-icon200 transition hover:bg-icon500 hover:text-icon100 font-semibold rounded-md p-2">Logout</a>
            </div>
        {{else}}
            <a class="bg-icon200 transition hover:bg-icon500 hover:text-icon100 font-semibold rounded-md p-2">Follow</a>
        {{/if}}
        <div>
            {{#each posts}}
                <div>
                    <img src="{{this.image}}">
                </div>
            {{/each}}
        </div>
    </div>
    </div>
    
</div>