<div class="flex justify-center mt-12">
    {{#if users}}
    <div class="flex flex-col bg-white shadow-lg p-4 mb-4 rounded-lg cursor-pointer w-1/4 space-y-2">
        <p>Users</p>
        {{#each users}}
            <a class="px-4 py-2 rounded-lg w-full hover:bg-icon200 border-t border-gray-200 pt-2 mt-2" href="/users/{{this._id}}">{{this.username}}</a>
        {{/each}}
    </div>
    {{/if}}
    {{#if posts}}
    <div>
        {{#each posts}}
            <div class="bg-white shadow-lg p-4 mb-4 rounded-lg cursor-pointer hover:bg-icon200 space-y-2">
                <p class="text-lg font-semibold mb-2">{{this.username}}</p>
                <img src="{{this.image}}" alt="Post Image" class="w-full h-auto mb-3">
                <p class="mb-1">{{this.description}}</p>
                <button class="likeButton" class="z-10 text-sm text-gray-600 mb-4" data-id="{{this._id}}" data-liked="{{this.liked}}">
                    {{#if this.liked}}
                        Dislike: {{this.likes}}
                    {{else}}
                        Like: {{this.likes}}
                    {{/if}}
                </button>
                <div class="flex">
                    {{#each this.keywords}}
                        <p class="bg-icon200 text-icon900 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded w-fit">{{this}}</p>
                    {{/each}}
                </div>
                <div class="space-x-2">
                    <p>Comments</p>
                    {{#if this.comments}}
                        {{log this.comments}}
                        {{#each this.comments}}
                            <p>{{this.username}}: {{this.text}}</p>
                        {{/each}}
                    {{else}}
                        <p>No comments</p>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
    {{/if}}
</div>
<script src="/public/js/search.js"></script>