<div>
    {{#each post}}
        <img src={{{image}}}>
        <div>
            <img src={{{profilePicture}}}>
            <p>{{{username}}}</p>
            <p>{{{likes}}}</p>
        </div>
        {{!-- gonna make it display top 3 comments later --}}
        <p>{{{clothingLinks}}} </p>
        <button>Add a comment</button>
        <div> 
            {{{comments}}}
        </div>
    {{/each}}
</div>