<div>
    <img src={{{image}}}>
    <div>
        <img src={{{profilePicture}}}>
        <p>{{{username}}}</p>
        <p>{{{likes}}}</p>
    </div>
    <p>{{{clothingLinks}}} </p>
    {{!-- gonna make it display top 3 comments later --}}
    <div> 
        {{{comments}}}
    </div>
</div>