<div class="mt-24 flex justify-center">
    <div class="bg-white shadow-lg p-4 mb-4 rounded-lg cursor-pointer hover:bg-icon200">
        <a href="/users/{{posterId}}" class="text-lg font-semibold mb-2">{{username}}</a>

        <img src="{{image}}" alt="Post Image" class="w-full h-auto mb-3">
        <p class="mb-1">{{description}}</p>
        <p class="text-sm text-gray-600">Clothing Links:</p>
        {{#each this.clothingLinks}}
            <p class="text-sm text-gray-600">{{this}}</p>
        {{/each}}
        <div class="flex justify-between items-center">
            <button class="like-button" data-id="{{id}}" data-userid="{{userid}}">Likes: {{likes}}</button>
        </div>
        <div class="flex space-x-2">
            {{#each keywords}}
                <p class="bg-icon200 text-icon900 text-sm font-semibold px-2.5 py-0.5 rounded w-fit">{{this}}</p>
            {{/each}}
        </div>
        <p>Comments</p>
        {{#if isAuth}}
            <form action="/comments/{{postid}}" method="POST" class="flex space-x-2">
                <input class="border" type="text" name="commentText" placeholder="Add comment...">
                <button>Post</button>
            </form>
        {{/if}}
        <div class="overflow-scroll max-h-16 space-y-2">
            {{#if comments}}
                {{#each comments}}
                    <span class="flex space-x-2 border-b">
                        {{#if this.id}}
                            <button class="text-red-400" id="delete-comment" data-id="{{../postid}}:{{this.id}}">x</button>
                        {{/if}}
                        <p class="font-bold">{{this.username}}</p>
                        <p>{{this.comment}}</p>
                    </span>
                {{/each}}
            {{else}}
                <p>No comments</p>
            {{/if}}
        </div>
    </div>
</div>
<script src="../public/js/singlepost.js"></script>
